.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-container {
  display: flex!important;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.informacoes-basicas {
  width: 30%;
}

.field {
  width: 300px;
  margin: 10px!important;
}

.title {
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
}

.form-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button {
  width: 100px;
  background-color: #FFC600 !important;
}

.form-link {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.form-link a {
  font-weight: bold;
  color: #FFC600;
}
