.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px 10px 40px;
    height: 70px;
    box-sizing: border-box;
    background: white;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box; */
}

.logo {
    
}

.arrow-back {
    cursor: pointer;
}

.MuiSvgIcon-root {
    color:  #FFC600 !important;
}
